div.circle {
  border: 18px ;
  width: 410px;
  height: 400px;
  border-radius: 100%;
  position: relative;
margin: auto;
margin-top: 80px;
box-shadow: 0 0 40px rgba(8, 7, 7, 0.5);



}

.number {
  font-size: 30px;
  position: absolute;
}

.twelve{
    left: 180px;
    top: 5px;
}

.six{
    bottom: 5px;
    left: 180px;
}

.nine{
    top: 175px;
    left: 5px;
}

.three{
    top: 175px;
    right: 5px;
}

.one{
    top: 28px;
    right: 110px;
}

.two{
    top: 90px;
    right:40px;
}

.four{
    bottom: 100px;
    right:35px;
}

.five{
    bottom: 25px;
    right: 105px;
}

.eleven{
    top: 28px;
    left: 110px;
}

.ten{
    top: 90px;
    left:40px;
}

.eight{
    bottom: 105px;
    left:25px;
}

.seven{
    bottom: 35px;
    left: 85px;
}

.dot{
    position: absolute;
    font-size: 178px;
    top: 40px;
    left: 170px;  
    color: rgb(0, 0, 0);
    z-index: 1;
}

.needle_1{
    position: absolute;
    width: 10px;
    height: 150px;
    background-color: black;
    left: 188.334px;
    top: 45px;
}

.needle_2{
    position: absolute;
    width: 130px;
    height: 10px;
    background-color: black;
top: 190px;
left: 60px;
}